<!DOCTYPE html>
<html>
<head>
    <title>View Airports</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Create New Flight</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if success_message %}
        <p style="color: blue;">{{ success_message }}</p>
    {% endif %}

    <!-- Flight Search Form -->
    <form action="/add_airport" method="post">
        <label for="code">Code:</label>
        <input type="text" id="code" name="code" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required><br>

        <label for="number_of_terminals">Number of terminals:</label>
        <input type="number" id="number_of_terminals" name="number_of_terminals" required><br>

        <label for="airport_type">Airport type:</label>
        <select id="airport_type" name="airport_type" required>
            <option value="domestic">Domestic</option>
            <option value="international">International</option>
            <option value="both">Both</option>
            <!-- 'domestic', 'international', 'both -->
        </select><br>

        <button type="submit">Add Airport</button>
    </form>

    <!-- Display Flights -->
    <h2>Flight Results</h2>
    {% if airports %}
        <table>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Number of terminals</th>
                <th>Airport type</th>
            </tr>
            {% for airport in airports %}
            <tr>
                <td>{{ airport.code }}</td>
                <td>{{ airport.name }}</td>
                <td>{{ airport.city }}</td>
                <td>{{ airport.country }}</td>
                <td>{{ airport.number_of_terminals }}</td>
                <td>{{ airport.airport_type }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No airports found.</p>
    {% endif %}


    <a href="/staff_home">Back</a> <br>

</body>
</html>
