<!DOCTYPE html>
<html>
<head>
    <title>Airplane List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Airplane List</h1>
    {% if airplanes %}
        <table>
            <tr>
                <th>Identification Number</th>
                <th>Airline Name</th>
                <th>Number of Seats</th>
                <th>Manufacturing Company</th>
                <th>Model Number</th>
                <th>Manufacturing Date</th>
                <th>Age</th>
            </tr>
            {% for airplane in airplanes %}
            <tr>
                <td>{{ airplane.identification_number }}</td>
                <td>{{ airplane.airline_name }}</td>
                <td>{{ airplane.number_of_seats }}</td>
                <td>{{ airplane.manufacturing_company }}</td>
                <td>{{ airplane.model_number }}</td>
                <td>{{ airplane.manufacturing_date }}</td>
                <td>{{ airplane.age }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No airplanes found.</p>
    {% endif %}
    <a href="/add_airplane">Add New Airplane</a><br>
    <a href="/staff_home">Back to Staff Home</a>
</body>
</html>
