<!DOCTYPE html>
<html>
<head>
    <title>Customer Flights</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>My Flights</h1>
    <form action="/view_customer_flights" method="POST">
        <h2>Filter Flights</h2>
        <input type="radio" id="future" name="flight_option" value="future" {{ 'checked' if flight_option == 'future' else '' }}>
        <label for="future">Future Flights</label><br>
        <input type="radio" id="past" name="flight_option" value="past" {{ 'checked' if flight_option == 'past' else '' }}>
        <label for="past">Past Flights</label><br>
        <input type="radio" id="all" name="flight_option" value="all" {{ 'checked' if flight_option == 'all' else '' }}>
        <label for="all">All Flights</label><br>
        <input type="submit" value="View Flights">
    </form>
    <br/>

    {% if flights %}
        <table>
            <tr>
                <th>Flight Number</th>
                <th>Airline</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Status</th>
                <th>Ticket_ID</th>


            </tr>
            {% for flight in flights %}
                <tr>
                    <td>{{ flight.flight_number }}</td>
                    <td>{{ flight.airline_name }}</td>
                    <td>{{ flight.departure_airport }}</td>
                    <td>{{ flight.arrival_airport }}</td>
                    <td>{{ flight.departure_date_time }}</td>
                    <td>{{ flight.arrival_date_time }}</td>
                    <td>{{ flight.status }}</td>
                    <td>{{ flight.ticket_ID }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No flights to display.</p>
    {% endif %}

    <a href="/customer_home">Back to Home</a>

</body>
</html>
