<!DOCTYPE html>
<html>
<head>
    <title>change flight status</title>

</head>
<body>
    <h1>Change Flight Status</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if success_message %}
        <p style="color: blue;">{{ success_message }}</p>
    {% endif %}

    <!-- Flight Search Form -->
    <form action="/change_flight_status" method="post">
        <label for="flight_number">Flight Number:</label>
        <input type="text" id="flight_number" name="flight_number" required><br>

        <label for="status">Status:</label>
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="on time">On Time</option>
            <option value="delayed">Delayed</option>
            <option value="canceled">Canceled</option>
        </select><br>


        <button type="submit">Update Flight Status</button>
    </form>

    <a href="/staff_home">Back</a> <br>

</body>
</html>
