<!DOCTYPE html>
<html>
<head>
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Customer Profile</h1>

    {% if error_phone %}
        <p style="color: red;">{{ error_phone }}</p>
    {% endif %}
    {% if error_passport %}
        <p style="color: red;">{{ error_passport }}</p>
    {% endif %}

    {% if phone_success %}
        <p style="color: blue;">{{ phone_success }}</p>
    {% endif %}
    {% if passport_success %}
        <p style="color: blue;">{{ passport_success }}</p>
    {% endif %}

    <form action="/update_customer_profile" method="post">

        <label for="phone">Add Phone Number:</label>
        <input type="tel" id="phone" name="phone"><br>

        <label for="passport_number">Passport Number:</label>
        <input type="text" id="passport_number" name="passport_number"><br>

        <label for="passport_expiration">Passport Expiration:</label>
        <input type="date" id="passport_expiration" name="passport_expiration"><br>

        <label for="passport_country">Passport Country:</label>
        <input type="text" id="passport_country" name="passport_country"><br>

        <button type="submit">Update Details</button>
    </form>

    <a href="/customer_home">Back to Home</a>
</body>
</html>
