<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Directory</h3>

    <a href="/update_customer_profile">Update Profile</a> <br>
    <a href="/view_customer_flights">View My Flights</a> <br>
    <a href="/customer_search_flights">Search Flights</a> <br>
    <a href="/purchase_ticket">Purchase Ticket</a> <br>
	<a href="/cancel_ticket_page">Cancel Ticket</a> <br>
    <a href="/track_spending">Track My Spending</a><br>
	<a href="/rate_flight">Rate Flight</a><br>
	<a href="/customer_log_out">Log Out</a><br>
    
</body>
</html>