<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Ticket</title>
</head>
<body>
    <h2>Purchase Ticket for Flight</h2>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}

    {% if ticket_id %}
        <p style="color: rgb(0, 255, 34);"> Sucess! Ticket ID is: {{ ticket_id }}</p>
    {% endif %}

    <form action="/purchase_ticket" method="POST">

        <label for="flight_number">Flight Number:</label>
        <input type="text" id="flight_number" name="flight_number" required><br>

        <label for="airline_name">Airline Name</label>
        <input type="text" id="airline_name" name="airline_name" required><br>


        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
            
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>

        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required><br>

        <label for="card_type">Card Type:</label>
        <select id="card_type" name="card_type">
            <option value="credit">Credit Card</option>
            <option value="debit">Debit Card</option>
        </select><br>

        <label for="card_number">Card Number:</label>
        <input type="text" id="card_number" name="card_number" required><br>

        <label for="name_on_card">Name on Card:</label>
        <input type="text" id="name_on_card" name="name_on_card" required><br>

        <label for="expiration_date">Expiration Date:</label>
        <input type="date" id="expiration_date" name="expiration_date" required><br>

        <input type="submit" value="Confirm Purchase">
    </form>
    <a href="/customer_home">Back to Home</a>
</body>
</html>




<!-- CREATE TABLE Ticket (
    ticket_ID INT NOT NULL AUTO_INCREMENT,
    PRIMARY KEY (ticket_ID),
    flight_number VARCHAR(255),
    departure_date_time DATETIME,
    airline_name VARCHAR(255),
    purchase_date_time DATETIME,
    base_ticket_price DECIMAL(10, 2),
    calculated_ticket_price DECIMAL(10, 2),
    customer_email VARCHAR(100),
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    date_of_birth DATE,
    card_type VARCHAR(15) CHECK (card_type IN ('credit', 'debit')),
    card_number VARCHAR(19),
    name_on_card VARCHAR(100),
    expiration_date DATE,
    FOREIGN KEY (flight_number, airline_name, departure_date_time) REFERENCES Flight(flight_number, airline_name, departure_date_time)
        on delete cascade,
    FOREIGN KEY (customer_email) REFERENCES Customer(email_address)

); -->