<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Directory</h3>
    <a href="/staff_update_profile">Update Profile</a> <br>
    <a href="/staff_flights">View Flights</a> <br>
    <a href="/add_flight">Add Flight</a><br>
    <a href="/change_flight_status">Update Flight Status</a><br>
    <a href="/add_airplane">Add Plane</a><br>
    <a href="/add_airport">Add Airport</a><br>
    <a href="/view_flight_ratings">View Flight Rating</a><br>
    <a href="/schedule_maintenance">Schedule Maintenance</a><br>
    <a href="/frequent_customers">View frequent customers</a><br>
    <a href="/earned_revenue">View Earned Revenue</a><br>
    <a href="/staff_log_out">Log Out</a><br>

    


    


    

   
    


    <!-- <a href="/login_customer">Customer Login</a><br>
    <a href="/signup_customer">Customer Signup</a><br> --> 
    
</body>
</html>